GENERAL
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #fff;
}

/* SCREENS */
.start-screen, .level-screen, .game-screen {
  background: rgba(255,255,255,0.1);
  padding: 30px;
  width:380px;
  border-radius: 20px;
  text-align: center;
  backdrop-filter: blur(10px);
}

.hidden {display: none;}

/* Button */
button {
  padding: 10px 18px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  background: #00b4d8;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.25s;
}

button:hover {background: #0096c7;}

/* INFO BAR */
.info {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

/* GAME BOARD */
.board {
  margin-top: 15px;
  display: grid;
  gap: 10px;
  justify-content: center;
}

/* AUTO-PESIZING CARDS */
.card {
  aspect-ratio: 1 / 1;
  width: 100%;
  max-width: 80px; /* easy level size*/
  perspective: 100px;
  cursor: pointer;
}

#board.easy .card { max-width: 90px; } /*bigger cards */
#board.medium .card { max-width: 70px;}
#board.hard .card { max-width: 58px;}

/* CARD INNER FLIP */
.inner {
  width: 100%;
  height: 100;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.card.flipped .inner {
  transform: rotateY(180deg);
}

.front, .back {
  width: 100%;
  height: 100;
  position: absolute;
  border-radius: 10px;
  backface-visibility: hidden;
  font-size: 26px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front {
  background: #4CAF50;
  color: white;
}

.back {
  background: #FFA559;
  transform: rotateY(180deg);
}

