GENERAL
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #fff;
}

/* SCREENS */
.start-screen, .level-screen, .game-screen {
  background: rgba(255,255,255,0.1);
  padding: 30px;
  width:380px;
  border-radius: 20px;
  text-align: center;
  backdrop-filter: blur(10px);
}

.hidden {display: none;}

/* Button */
button {
  padding: 10px 18px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  background: #00b4d8;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.25s;
}

button:hover {background: #0096c7;}